<div class="admin__menu">
    <div class="admin__menu-header">
        <h2>Menu</h2>
        <div class="">
            <button class="admin__menu-header-btn">
            <a href="/admin/menu/deleted">Món đã xóa</a>
            </button>
            <button class="admin__menu-header-btn">
                <a href="/admin/menu/create">Thêm món</a>
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên món</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Loại</th>
                <th scope="col">Giá tiền</th>
                <th scope="col" colspan="3">Mô tả</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td class="admin__menu-item">{{this.name}}</td>
                    <td class="admin__menu-item">
                        <img class="admin__menu-item-img admin__menu-item" src="{{this.img}}" alt="Hình ảnh minh ạ">
                    </td>
                    <td class="admin__menu-item">{{this.type}}</td>
                    <td class="admin__menu-item">{{this.price}} đ</td>
                    <td class="admin__menu-item">{{this.description}}</td>
                    <td class="admin__menu-item">
                        <a href="menu/edit/{{this._id}}" class="">Sửa</a>
                    </td>
                    <td class="admin__menu-item">
                        <a href="" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-product-modal">Xóa</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa món?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa món này khỏi menu không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btn-delete-product" >Xóa</button>
      </div>
    </div>
  </div>
</div>

{{!-- delete hiden form --}}
<form id="delete-product-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productId;
        var btnDeleteProduct = document.getElementById('btn-delete-product');
        var deleteForm = document.getElementById('delete-product-form');

        //When the dialog confirm button is clicked
        $('#delete-product-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            productId = button.data('id');
            console.log(productId);  
        });

        btnDeleteProduct.onclick = function() {
            deleteForm.action = 'menu/delete/' + productId + '?_method=DELETE';
            deleteForm.submit();
        }
    });
</script>